---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';

body {
  font-family: $font-family-sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

pre {
  font-family: $font-family-sans-serif;
  background-color: black;
  color: white;
}
